.border {
  border: black 5px;
  border-radius: 20px;
  width: 1200px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contain {
  border-radius: 20px;
  width: 50%;
  height: 100%;
  float: left;
  background-color: #ffffff;
  padding: 5%;
}

.contain:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media only screen and (max-width: 800px) {
  .contain:first-child {
    background-color: red;
    display: none;
  }

  .border, .contain {
    width: 100%;
    min-width: 300px;
  }
}
.tenant {
  display: block;
}
.tenant__left {
  float: left;
}
.tenant__left caption {
  clear: both;
}
.tenant__left p {
  clear: both;
}
.tenant__right {
  float: right;
}

.contain:first-child {
  background-color: #1AAE8E;
}

.formulario {
  font-family: "Arial", sans-serif;
}
.formulario h2 {
  clear: both;
  font-family: "Helvetica", sans-serif;
}
.formulario__switch[value=switch] {
  background-color: #ffffff;
  color: black;
  float: right;
}
.formulario input[type=text] {
  width: 100%;
  display: block;
  margin: 5px 0 15px 0;
}
.formulario a {
  float: right;
}
.formulario input[type=button] {
  width: 100%;
}
.formulario__login[value=Login] {
  margin: 20px 0 15px 0;
  width: 100%;
  background-color: #1AAE8E;
  -webkit-box-shadow: 0 5px 10px -2px #58e76b;
          box-shadow: 0 5px 10px -2px #58e76b;
}
.formulario__login[value=Login]:hover {
  background-color: #58e76b;
}
.formulario p {
  float: left;
}
.formulario__register {
  float: left;
}